[submodule "practica06/practica06/ib-2022-2023-p06_alternatives_and_iterations-Dario-Fajardo"]
	path = practica06/practica06/ib-2022-2023-p06_alternatives_and_iterations-Dario-Fajardo
	url = git@github.com:Dario-Fajardo/Practicas-IB.git
[submodule "practica06/ib-2022-2023-p06_alternatives_and_iterations-Dario-Fajardo"]
	path = practica06/ib-2022-2023-p06_alternatives_and_iterations-Dario-Fajardo
	url = git@github.com:IB-2022-2023/ib-2022-2023-p06_alternatives_and_iterations-Dario-Fajardo.git
[submodule "practica07/ib-2022-2023-p07_iterations-Dario-Fajardo"]
	path = practica07/ib-2022-2023-p07_iterations-Dario-Fajardo
	url = git@github.com:IB-2022-2023/ib-2022-2023-p07_iterations-Dario-Fajardo.git
[submodule "practica08/ib-2022-2023-p08_functions-Dario-Fajardo"]
	path = practica08/ib-2022-2023-p08_functions-Dario-Fajardo
	url = git@github.com:IB-2022-2023/ib-2022-2023-p08_functions-Dario-Fajardo.git
[submodule "practica08-Funciones/ib-2022-2023-p08_functions-Dario-Fajardo"]
	path = practica08-Funciones/ib-2022-2023-p08_functions-Dario-Fajardo
	url = git@github.com:IB-2022-2023/ib-2022-2023-p08_functions-Dario-Fajardo.git
[submodule "practica09/ib-2022-2023-p09_strings-vectors-Dario-Fajardo"]
	path = practica09/ib-2022-2023-p09_strings-vectors-Dario-Fajardo
	url = git@github.com:IB-2022-2023/ib-2022-2023-p09_strings-vectors-Dario-Fajardo.git
[submodule "practica06-AlternativasIteraciones/ib-2022-2023-p06_alternatives_and_iterations-Dario-Fajardo"]
	path = practica06-AlternativasIteraciones/ib-2022-2023-p06_alternatives_and_iterations-Dario-Fajardo
	url = git@github.com:IB-2022-2023/ib-2022-2023-p06_alternatives_and_iterations-Dario-Fajardo.git
[submodule "practica07-Iteraciones/ib-2022-2023-p07_iterations-Dario-Fajardo"]
	path = practica07-Iteraciones/ib-2022-2023-p07_iterations-Dario-Fajardo
	url = git@github.com:IB-2022-2023/ib-2022-2023-p07_iterations-Dario-Fajardo.git
[submodule "practica09-StringArrayVector/ib-2022-2023-p09_strings-vectors-Dario-Fajardo"]
	path = practica09-StringArrayVector/ib-2022-2023-p09_strings-vectors-Dario-Fajardo
	url = git@github.com:IB-2022-2023/ib-2022-2023-p09_strings-vectors-Dario-Fajardo.git
[submodule "practica10-Ficheros/ib-2022-2023-p10_files-Dario-Fajardo"]
	path = practica10-Ficheros/ib-2022-2023-p10_files-Dario-Fajardo
	url = git@github.com:IB-2022-2023/ib-2022-2023-p10_files-Dario-Fajardo.git
